In [15]:
import cv2
import os
import pandas as pd
import numpy as np

In [9]:
img_folder = 'Example Data/'
img_name = 'OrganicChemistryLab_Insta_Screenshot - 2019-04-11T215822.251.png'

file = os.path.join(img_folder, img_name)
print("File: ", file)

ImgMask=cv2.imread(file)

df_describe = pd.DataFrame(ImgMask[:,:,0])
df_describe.describe()

File:  Example Data/OrganicChemistryLab_Insta_Screenshot - 2019-04-11T215822.251.png

,0,1,2,3,4,5,6,7,8,9,...,699,700,701,702,703,704,705,706,707,708
count,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,...,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_describe = pd.DataFrame(ImgMask[:,:,1])
df_describe.describe()

,0,1,2,3,4,5,6,7,8,9,...,699,700,701,702,703,704,705,706,707,708
count,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,...,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_describe = pd.DataFrame(ImgMask[:,:,2])
df_describe.describe()

,0,1,2,3,4,5,6,7,8,9,...,699,700,701,702,703,704,705,706,707,708
count,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,...,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
img_name = 'OrganicChemistryLab_Insta_Screenshot - 2019-04-11T215822.251.jpg'

file = os.path.join(img_folder, img_name)
print("File: ", file)

Img=cv2.imread(file)

df_describe = pd.DataFrame(Img[:,:,0])
df_describe.describe()

File:  Example Data/OrganicChemistryLab_Insta_Screenshot - 2019-04-11T215822.251.jpg

,0,1,2,3,4,5,6,7,8,9,...,699,700,701,702,703,704,705,706,707,708
count,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,...,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000
mean,66.946565,65.768448,63.440204,60.307888,58.826972,56.837150,56.091603,54.910941,54.402036,54.419847,...,37.147583,36.521628,34.564885,32.300254,31.305344,31.162850,31.078880,30.755725,29.903308,29.890585
std,69.370160,69.597933,71.437157,75.027508,74.306938,72.657001,71.673094,71.616287,72.207335,71.741666,...,50.219199,48.451166,44.959920,42.397553,41.414941,40.811587,42.297011,44.880526,44.558329,43.000009
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,7.000000,5.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
50%,44.000000,42.000000,28.000000,13.000000,10.000000,9.000000,10.000000,9.000000,9.000000,11.000000,...,9.000000,8.000000,8.000000,10.000000,12.000000,10.000000,10.000000,9.000000,7.000000,8.000000
75%,116.000000,116.000000,118.000000,119.000000,123.000000,113.000000,116.000000,117.000000,116.000000,116.000000,...,66.000000,75.000000,71.000000,65.000000,58.000000,54.000000,56.000000,53.000000,42.000000,49.000000
max,255.000000,254.000000,254.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,244.000000,246.000000,245.000000,245.000000,249.000000,246.000000,249.000000,251.000000,251.000000,250.000000

In [13]:
cv2.imshow('Mask', ImgMask)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [22]:
nonzero = np.count_nonzero(ImgMask)
zero = ImgMask[np.where(ImgMask == 0)].size
total_params = ImgMask.shape[0]*ImgMask.shape[1]*ImgMask.shape[2]

print("Nonzero count: ", nonzero)
print("Zero count: ", zero)

print("Dimensions: ", ImgMask.shape)
print("Total number of pixels: ", total_params)
assert total_params == zero + nonzero

Nonzero count:  78192
Zero count:  757719
Dimensions:  (393, 709, 3)
Total number of pixels:  835911